---
layout: base.liquid
id: index
---


<div class="filter-buttons">
    <button class="filter active" data-key="context" data-value="*">&#35;all contexts</button>
    <button class="filter" data-key="context" data-value="Applied Context">&#35;applied context</button>
    <button class="filter" data-key="context" data-value="Autonomous Context">&#35;autonomous context</button>
    <button class="filter" data-key="context" data-value="Digital Context">&#35;digital context</button>
    <button class="filter" data-key="context" data-value="Jewelry Context">&#35;jewelry context</button>
    <button class="filter" data-key="context" data-value="Socio-Political Context">&#35;socio-political context</button>
</div>


<div class="explain-wrapper">
    <p class="explain"><strong>Master Expo</strong> are the graduation projects of the 2022-2023 Masters in Art and
        Design at <a href="https://www.sintlucasantwerpen.be/" target="_blank">Sint&nbsp;Lucas&nbsp;Antwerpen.</a></p>
</div>

<div class="students-grid">
    {% for student in collections.students %} {% if student.data.thumb_image %} {% assign thumb_image =
    student.data.thumb_image %} {% else %}
    {% assign thumb_image = student.data.main_image %} {% endif %}

    <div class="student" data-context="{{student.data.context}}" data-tags="{{student.data.tags | join: " ,"}}">
        <a href="/2023{{ student.url }}" class="student__link">
            <div class="student__image-wrap">
                <img class="student__image" src="{{thumb_image}}-/preview/600x600/"
                    data-preview-src="{{student.data.main_image}}-/preview/600x600/"
                    alt="{{student.data.project_title}}" width="300" height="300" crossorigin="anonymous" />
            </div>
            <div class="student__title">{{student.data.project_title}}</div>
            <div class="student__name">{{student.data.student_name}}</div>
        </a>
    </div>
    {% endfor %}
</div>

<footer class="full-width">
    <div>
        <a href="https://www.sintlucasantwerpen.be/" target="_blank">
            <img src="/2023/static/img/sla-logo.svg" alt="Logo Sint Lucas Antwerpen" />
        </a>
        <p>Interested in the Master? More info at <a href="https://www.sintlucasantwerpen.be/"
                target="_blank">sintlucasantwerpen.be</a>.</p>
    </div>
</footer>