<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Sint Lucas Masters</title>
		<link rel="icon" href="/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,slnt,wdth,wght,GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC@8..144,-10,67.4,595,0,603,79,854,-232,693,514;8..144,0,25,1000,0,468,79,750,-203,738,514;8..144,0,128.7,722,-119,603,25,691,-239,738,522;8..144,0,151,100,0,468,79,750,-203,738,514;8..144,0,151,665,0,562,79,750,-203,738,514&display=swap" rel="stylesheet">		<link rel="stylesheet" href="/2023/static/css/main.css" />
	</head>
	<body data-barba="wrapper">
		<div id="wrapper">
			<header>
			    <a href="/2023/"><img class="logo" src="/2023/static/img/Master-Expo.svg" alt="Logo Master Expo Sint Lucas Antwerpen" /></a>
                <nav><a href="/2023/">Home</a><a href="/2023/about">About</a></nav>
    		</header>
			<main data-barba="container">
				{{ content }}
			</main>
            <footer>
        		<a href="https://www.sintlucasantwerpen.be/" target="_blank">
		        	<img src="/2023/static/img/sla-logo.svg" alt="Logo Sint Lucas Antwerpen" />
		        </a>
		        <p>Interested in the Master? More info at <a href="https://www.sintlucasantwerpen.be/" target="_blank">sintlucasantwerpen.be</a>.</p>
            </footer>
		</div>
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/gsap@3.10.4/dist/gsap.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@barba/core@2.9.7/dist/barba.umd.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/animate-css-grid@1.4.3/dist/main.min.js"></script>
		<script src="/2023/static/js/grid-filter.js"></script>
	</body>
</html>
