<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Sint Lucas Masters</title>
		<link rel="icon" href="/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/2023/static/css/main.css" />
	</head>
	<body data-barba="wrapper">
		<div id="wrapper">
			<header>
				<h1>
					<a href="/2023/">
						<span style="color: red">MASTER</span>
						<span style="color: black">EXPO</span>
					</a>
				</h1>
				<nav><a href="/2023/">Home</a><a href="/2023/about">About</a></nav>
			</header>
			<main data-barba="container">
				{{ content }}
			</main>
		</div>
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/gsap@3.10.4/dist/gsap.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@barba/core@2.9.7/dist/barba.umd.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/animate-css-grid@1.4.3/dist/main.min.js"></script>
		<script src="/2023/static/js/grid-filter.js"></script>
		<script src="/2023/static/js/transitions.js"></script>
	</body>
</html>
