.DS_Store
node_modules/
build/
.svelte-kit/
package/
.env
.env.*
!.env.example
_site/
uploadcare-files.json
_uploads/
_data/
media/
# Local Netlify folder
.netlify

# Wrangler
.wrangler/
migration.sql
