@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

body {
	font:
		1rem/1.5 'Roboto Mono',
		monospace;
	color: #1f2937;
}

img {
	max-width: 100%;
	display: block;
	margin: 4rem auto;
}
