html {
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Roboto Flex', sans-serif;
	font-variation-settings: 'wght' 200, 'wdth' 120;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 1px;
	padding: 0;
}

ol,
ul {
	list-style: none;
}

p {
	margin-block-start: 0.5px;
	margin-block-end: 17.5px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

img {
	max-width: 100%;
}

body {
	background: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}

a {
	color: inherit;
	text-decoration: none;
}

/* HEADER */

header {
	max-width: 1200px;
	margin: 0 auto;
	padding: 1rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	height: 75px;
	width: auto;
}

nav {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-family: 'Roboto Flex', sans-serif;
	font-variation-settings: 'wght' 1000;
	font-variation-settings: 'wdth' 151;
	font-variation-settings: 'XTRA' 600;
	margin: 2px;
}

/* EXPLAIN */

p.explain {
	font-family: 'Roboto Flex', sans-serif;
	font-size: 2rem;
	font-variation-settings: 'wght' 300, 'wdth' 151;
	color: black;
	line-height: 1.2;
}

p.explain strong {
	font-variation-settings: 'wght' 700, 'wdth' 150;
}

p.explain a {
	text-decoration: underline;
}

@media (min-width: 768px) {
	p.explain {
		font-size: 5rem;
		line-height: 1.2;
	}
}

/* IMAGE GRID */

.students-grid {
	padding-top: 4.5rem;
	padding-bottom: 4.5rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 4rem 1rem;
	grid-auto-flow: dense;
	text-decoration: none;
}

.student {
	/* overflow: hidden; */
	position: relative;
}

.grid--hidden {
	display: none !important;
}

.student__image-wrap {
	width: 300px;
	clip-path: inset(0 -50px 0 -50px);
	/* overflow: hidden; */
}

.students-grid img {
	opacity: 1;
	transition: transform 1s;
	width: 300px;
	height: 300px;
	object-fit: contain;
	transform: rotate(50deg);
	transition: 0.3s;
}

.students-grid img:hover {
	transform: rotate(0deg);
}

.student a {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
}

.student__title {
	position: relative;
	z-index: 10;
	background-color: rgb(255, 255, 255);
	font-size: 1.2rem;
	font-weight: bold;
	margin-top: 0.5rem;
	padding-top: 2rem;
	top: -1rem;

	font-family: 'Roboto Flex', sans-serif;
	font-variation-settings: 'wght' 1000;
	font-variation-settings: 'wdth' 151;
	font-variation-settings: 'XTRA' 600;
}

.student__name {
	font-size: 1rem;
	position: relative;
	z-index: 10;
	background-color: rgb(255, 255, 255);
	top: -1rem;
	padding-bottom: 1rem;

	font-family: 'Roboto Flex', sans-serif;
	font-variation-settings: 'wght' 100;
	font-variation-settings: 'wdth' 151;
	color: grey;
}

/* DETAIL PAGE */

#wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#fake-scroll {
	height: 800vh;
}

main {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1rem;
}

.full-width {
	position: relative;
	width: 100vw;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	display: flex;
	justify-content: center;
}

.meta {
	margin: 2rem 0;
}

.meta h2 {
	font-family: 'Roboto Flex', sans-serif;
	font-variation-settings: 'wght' 1000, 'wdth' 151, 'XTRA' 600;
	font-size: 1.5rem;
}

.meta h3 {
	font-family: 'Roboto Flex', sans-serif;
	font-variation-settings: 'wght' 500, 'wdth' 151, 'XTRA' 600;
	font-size: 1.3rem;
	padding-bottom: 0.5rem;
}

.meta p {
	font-family: 'Roboto Flex', sans-serif;
	font-variation-settings: 'wght' 100, 'wdth' 151;
	font-size: 0.8rem;
}

/* SOCIAL LINKS */

.social-links {
	margin: 1rem 0;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.social-links a {
	text-decoration: underline;
}

/* FILTER BUTTONS */

.filter-buttons {
	display: none;
	flex-wrap: wrap;
	gap: 0.4rem;
}

@media (min-width: 768px) {
	.filter-buttons {
		display: flex;
	}
}

button {
	font-family: 'Roboto Flex', sans-serif;
	font-variation-settings: 'wght' 100, 'wdth' 151;
	font-size: 2rem;
	color: grey;
	padding: 1px 7px 2px;
	border-width: 3px;
	border-style: solid;
	border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
}

button.active {
	color: rgb(212, 211, 211);
	border-color: rgb(72, 67, 67) rgb(223, 214, 214) rgb(203, 196, 196);
	background-color: rgb(110, 107, 107);

	/* border-color: rgb(0, 0, 0) rgb(0, 0, 0) rgb(0, 0, 0); */
}

a.home {
	font-family: 'Roboto Flex', sans-serif;
	font-variation-settings: 'wght' 1000, 'wdth' 151, 'XTRA' 600;
}

/* PAGE */

article {
	margin: 2rem 0;
}

article h1 {
	font-family: 'Roboto Flex', sans-serif;
	font-size: 3rem;
	font-variation-settings: 'wght' 1000, 'wdth' 151, 'XTRA' 600;
}

article h2 {
	font-family: 'Roboto Flex', sans-serif;
	font-size: 2rem;
	font-variation-settings: 'wght' 800, 'wdth' 151, 'XTRA' 600;
}

/* FOOTER */

footer {
	width: 100%;
	max-width: 1200px;
	margin: 3rem auto;
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

footer a {
	order: 2;
}

@media (min-width: 768px) {
	footer {
		flex-direction: row;
	}
}
