<footer>
	<div>
		<a href="https://www.sintlucasantwerpen.be/" target="_blank">
			<img src="/2022/static/img/sla-logo.svg" alt="Logo Sint Lucas Antwerpen" />
		</a>
		<p>Interested in the Master? More info at <a href="https://www.sintlucasantwerpen.be/" target="_blank">sintlucasantwerpen.be</a>.</p>
	</div>
</footer>
