<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Sint Lucas Masters</title>
		<link rel="icon" href="/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/2022/static/css/main.css" />
	</head>
	<body>
		<div id="wrapper">
			<header>
				<h1><a href="/2022/">Sint Lucas Masters</a></h1>
				<nav><a href="/2022/">Home</a><a href="/2022/about">About</a></nav>
			</header>
			<main>
				{{ content }}
			</main>
			<footer>
				<a href="https://www.sintlucasantwerpen.be/">Sint Lucas Antwerpen</a>
			</footer>
		</div>
	</body>
</html>
