<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Sint Lucas Masters</title>
		<link rel="icon" href="/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/2025/static/css/main.css" />
	</head>
	<body data-barba="wrapper">
		<div id="wrapper">
			<header>
			    <a href="/2025/">Sint Lucas Masters 2024-2025</a>
                <nav><a href="/2025/">Home</a><a href="/2025/about">About</a></nav>
    		</header>
			<main data-barba="container">
				{{ content }}
			</main>
            <footer>
		        <p>Interested in the Master? More info at <a href="https://www.sintlucasantwerpen.be/" target="_blank">sintlucasantwerpen.be</a>.</p>
        		<a href="https://www.sintlucasantwerpen.be/" target="_blank" class="sla-logo-link">
		        	<img class="sla-logo" src="/2025/static/img/sla-logo.svg" alt="Logo Sint Lucas Antwerpen" />
		        </a>
            </footer>
		</div>
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/gsap@3.10.4/dist/gsap.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@barba/core@2.9.7/dist/barba.umd.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/animate-css-grid@1.4.3/dist/main.min.js"></script>
		<script src="/2025/static/js/grid-filter.js"></script>
	</body>
</html>
