---
layout: base.liquid
---

<div class="filter-buttons">
	<button class="filter active" data-key="context" data-value="*">&#35;all contexts</button>
	<button class="filter" data-key="context" data-value="Applied Context">&#35;applied context</button>
	<button class="filter" data-key="context" data-value="Autonomous Context">&#35;autonomous context</button>
	<button class="filter" data-key="context" data-value="Digital Context">&#35;digital context</button>
	<button class="filter" data-key="context" data-value="Jewelry Context">&#35;jewelry context</button>
	<button class="filter" data-key="context" data-value="Socio-Political Context">&#35;socio-political context</button>
</div>
<div class="filter-buttons">
	<button class="filter active" data-key="tags" data-value="*">&#35;all matters</button>
	<button class="filter" data-key="tags" data-value="paper">&#35;paper</button>
	<button class="filter" data-key="tags" data-value="textile">&#35;textile</button>
	<button class="filter" data-key="tags" data-value="ceramic">&#35;ceramic</button>
	<button class="filter" data-key="tags" data-value="digital">&#35;digital</button>
	<button class="filter" data-key="tags" data-value="performance">&#35;performance</button>
	<button class="filter" data-key="tags" data-value="paint">&#35;paint</button>
	<button class="filter" data-key="tags" data-value="ink">&#35;ink</button>
	<button class="filter" data-key="tags" data-value="metal">&#35;metal</button>
	<button class="filter" data-key="tags" data-value="clay">&#35;clay</button>
	<button class="filter" data-key="tags" data-value="sculpture">&#35;sculpture</button>
	<button class="filter" data-key="tags" data-value="audio">&#35;audio</button>
	<button class="filter" data-key="tags" data-value="screenprinting">&#35;screenprinting</button>
	<button class="filter" data-key="tags" data-value="photography">&#35;photography</button>
	<button class="filter" data-key="tags" data-value="installation">&#35;installation</button>
	<button class="filter" data-key="tags" data-value="video">&#35;video</button>
</div>

<div class="students-grid">
	{% for student in collections.students %} {% if student.data.thumb_image %} {% assign thumb_image = student.data.thumb_image %} {% else %}
	{% assign thumb_image = student.data.main_image %} {% endif %}

	<div class="student" data-context="{{student.data.context}}">
		<a href="/2022{{ student.url }}" class="student__link">
			<img
				class="student__image"
				src="{{thumb_image}}-/preview/600x600/"
				data-preview-src="{{student.data.main_image}}-/preview/600x600/"
				alt="{{student.data.project_title}}"
				width="300"
				height="300"
				crossorigin="anonymous"
			/>
			<div class="student__title">{{student.data.project_title}}</div>
			<div class="student__name">{{student.data.student_name}}</div>
		</a>
	</div>
	{% endfor %}
</div>
