---
layout: base.liquid
---

<div class="filter-buttons">
	<button class="filter" data-filter-key="context" data-value="*">All Contexts</button>
	<button class="filter" data-filter-key="context" data-value="Applied Context">
		Applied Context
	</button>
	<button class="filter" data-filter-key="context" data-value="Autonomous Context">
		Autonomous Context
	</button>
	<button class="filter" data-filter-key="context" data-value="Digital Context">
		Digital Context
	</button>
	<button class="filter" data-filter-key="context" data-value="Jewelry Context">
		Jewelry Context
	</button>
	<button class="filter" data-filter-key="context" data-value="Socio-Political Context">
		Socio-Political Context
	</button>
</div>

<div class="students-grid">
	{% for student in collections.students %} {% if student.data.thumb_image %} {% assign thumb_image
	= student.data.thumb_image %} {% else %} {% assign thumb_image = student.data.main_image %} {%
	endif %}

	<div class="student" data-context="{{student.data.context}}">
		<a href="/2022{{ student.url }}" class="student__link">
			<img
				class="student__image"
				src="{{thumb_image}}-/preview/600x600/"
				data-preview-src="{{student.data.main_image}}-/preview/600x600/"
				alt="{{student.data.project_title}}"
				width="300"
				height="300"
				crossorigin="anonymous"
			/>
			<div class="student__title">{{student.data.project_title}}</div>
			<div class="student__name">{{student.data.student_name}}</div>
		</a>
	</div>
	{% endfor %}
</div>
