<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sint Lucas Masters</title>
		<meta name="description" content="Masters of Sint Lucas Antwerpen" />
		<meta property="og:url" content="www.sintlucasmasters.com" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Sint Lucas Masters" />
		<meta property="og:image" content="" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap"
		/>
		<link rel="stylesheet" href="/2021/css/main.css" />
		<!-- Open Graph Begin -->
		<meta property="og:title" content="Practise Practice " />
		<meta property="og:site_name" content="Sint Lucas Antwerpen - Graduation Show" />
		<meta property="og:url" content="https://www.sintlucasmasters.com/" />
		<meta
			property="og:description"
			content="Master of Visual Arts - Graduation Show. An online catalogue of the graduation projects and processes of Sint Lucas Antwerpen's masters in visual arts, from four contexts."
		/>
		<meta property="og:type" content="website" />
		<meta
			property="og:image"
			content="https://master-website.s3.eu-west-2.amazonaws.com/Screenshot+2021-07-01+at+10.37.50.png"
		/>
		<!-- Open Graph End -->
	</head>
	<body>
		<div class="marquee">
			<div class="marquee_inner_left">
				<span class="box"
					><b
						>Nocturne announcement: July 1st in the campus garden
						<a href="https://www.instagram.com/sintlucasma/">@instagram</a></b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>Nocturne announcement: July 1st in the campus garden
						<a href="https://www.instagram.com/sintlucasma/">@instagram</a></b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>Nocturne announcement: July 1st in the campus garden
						<a href="https://www.instagram.com/sintlucasma/">@instagram</a></b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>Nocturne announcement: July 1st in the campus garden
						<a href="https://www.instagram.com/sintlucasma/">@instagram</a></b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>Nocturne announcement: July 1st in the campus garden
						<a href="https://www.instagram.com/sintlucasma/">@instagram</a></b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>Nocturne announcement: July 1st in the campus garden
						<a href="https://www.instagram.com/sintlucasma/">@instagram</a></b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>Nocturne announcement: July 1st in the campus garden
						<a href="https://www.instagram.com/sintlucasma/">@instagram</a></b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>Nocturne announcement: July 1st in the campus garden
						<a href="https://www.instagram.com/sintlucasma/">@instagram</a></b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>Nocturne announcement: July 1st in the campus garden
						<a href="https://www.instagram.com/sintlucasma/">@instagram</a></b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>Nocturne announcement: July 1st in the campus garden
						<a href="https://www.instagram.com/sintlucasma/">@instagram</a></b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>Nocturne announcement: July 1st in the campus garden
						<a href="https://www.instagram.com/sintlucasma/">@instagram</a></b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>Nocturne announcement: July 1st in the campus garden
						<a href="https://www.instagram.com/sintlucasma/">@instagram</a></b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>Nocturne announcement: July 1st in the campus garden
						<a href="https://www.instagram.com/sintlucasma/">@instagram</a></b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>Nocturne announcement: July 1st in the campus garden
						<a href="https://www.instagram.com/sintlucasma/">@instagram</a></b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>Nocturne announcement: July 1st in the campus garden
						<a href="https://www.instagram.com/sintlucasma/">@instagram</a></b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>Nocturne announcement: July 1st in the campus garden
						<a href="https://www.instagram.com/sintlucasma/">@instagram</a></b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>Nocturne announcement: July 1st in the campus garden
						<a href="https://www.instagram.com/sintlucasma/">@instagram</a></b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>Nocturne announcement: July 1st in the campus garden
						<a href="https://www.instagram.com/sintlucasma/">@instagram</a></b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>Nocturne announcement: July 1st in the campus garden
						<a href="https://www.instagram.com/sintlucasma/">@instagram</a></b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>Nocturne announcement: July 1st in the campus garden
						<a href="https://www.instagram.com/sintlucasma/">@instagram</a></b
					></span
				>
				<span class="break">x</span>
			</div>
			<div class="marquee_inner_right">
				<span class="box"
					><b
						>If you have nice photos of our exhibition, feel free to share them with us!
						@ezra.babski@student.kdg.be</b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>If you have nice photos of our exhibition, feel free to share them with us!
						@ezra.babski@student.kdg.be</b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>If you have nice photos of our exhibition, feel free to share them with us!
						@ezra.babski@student.kdg.be</b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>If you have nice photos of our exhibition, feel free to share them with us!
						@ezra.babski@student.kdg.be</b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>If you have nice photos of our exhibition, feel free to share them with us!
						@ezra.babski@student.kdg.be</b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>If you have nice photos of our exhibition, feel free to share them with us!
						@ezra.babski@student.kdg.be</b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>If you have nice photos of our exhibition, feel free to share them with us!
						@ezra.babski@student.kdg.be</b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>If you have nice photos of our exhibition, feel free to share them with us!
						@ezra.babski@student.kdg.be</b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>If you have nice photos of our exhibition, feel free to share them with us!
						@ezra.babski@student.kdg.be</b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>If you have nice photos of our exhibition, feel free to share them with us!
						@ezra.babski@student.kdg.be</b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>If you have nice photos of our exhibition, feel free to share them with us!
						@ezra.babski@student.kdg.be</b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>If you have nice photos of our exhibition, feel free to share them with us!
						@ezra.babski@student.kdg.be</b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>If you have nice photos of our exhibition, feel free to share them with us!
						@ezra.babski@student.kdg.be</b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>If you have nice photos of our exhibition, feel free to share them with us!
						@ezra.babski@student.kdg.be</b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>If you have nice photos of our exhibition, feel free to share them with us!
						@ezra.babski@student.kdg.be</b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>If you have nice photos of our exhibition, feel free to share them with us!
						@ezra.babski@student.kdg.be</b
					></span
				>
				<span class="break">x</span>
				<span class="box"
					><b
						>If you have nice photos of our exhibition, feel free to share them with us!
						@ezra.babski@student.kdg.be</b
					></span
				>
				<span class="break">x</span>
			</div>
		</div>

		<header>
			<div class="titles">
				<p class="title">Practise</p>
				<p class="title">Practice</p>
			</div>
			<div class="contact-up-2">
				<a class="sla-link" href="https://www.sintlucasantwerpen.be/">Sint Lucas Antwerpen</a>
				<a class="sla-link" href="https://www.sintlucasantwerpen.be/">Van Schoonbekestraat 143</a>
				<a class="sla-link" href="https://www.sintlucasantwerpen.be/">2018 Antwerpen</a>
			</div>
			<p class="page-year">2020 &mdash; 2021</p>
			<p class="intro">
				Master of Visual Arts - Graduation Show. An online catalogue of the graduation projects and
				processes of Sint Lucas Antwerpen's masters in visual arts, from four contexts.
			</p>
		</header>
		<div class="contact-up">
			<a class="sla-link" href="https://www.sintlucasantwerpen.be/">Sint Lucas Antwerpen</a>
			<a class="sla-link" href="https://www.sintlucasantwerpen.be/">Van Schoonbekestraat 143</a>
			<a class="sla-link" href="https://www.sintlucasantwerpen.be/">2018 Antwerpen</a>
		</div>

		<main>
			<div class="students">
				<div class="digital">
					<div class="student-header">
						<p class="context">&nbsp;Digital Context</p>
						<p class="arrow">&#10230;</p>
					</div>
					<div class="student">
						{% for student in collections.digitalContext %}
						<div class="student-student">
							<a
								class="student-thumb"
								data-tippy-content="<img src={{ student.data.main_image }}>"
								href="/2021{{ student.url }}"
								><img id="img" src="{{ student.data.main_image }}" alt=""
							/></a>
							<a class="title-name" href="/2021{{ student.url }}">
								<mark>{{ student.data.project_title }} &mdash;</mark> {{ student.data.student_name
								}}
							</a>
						</div>
						{% endfor %}
					</div>
				</div>

				<div class="autonomous">
					<div class="student-header">
						<p class="context">&nbsp;Autonomous Context</p>
						<p class="arrow">&#10230;</p>
					</div>
					<div class="student">
						{% for student in collections.autonomousContext %}
						<div class="student-student">
							<a
								class="student-thumb"
								data-tippy-content="<img src={{ student.data.main_image }}>"
								href="/2021{{ student.url }}"
								><img id="img" src="{{ student.data.main_image }}" alt=""
							/></a>
							<a class="title-name" href="/2021{{ student.url }}">
								<mark>{{ student.data.project_title }} &mdash;</mark> {{ student.data.student_name
								}}
							</a>
						</div>
						{% endfor %}
					</div>
				</div>

				<div class="applied">
					<div class="student-header">
						<p class="context">&nbsp;Applied Context</p>
						<p class="arrow">&#10230;</p>
					</div>
					<div class="student">
						{% for student in collections.appliedContext %}
						<div class="student-student">
							<a
								class="student-thumb"
								data-tippy-content="<img src={{ student.data.main_image }}>"
								href="/2021{{ student.url }}"
								><img id="img" src="{{ student.data.main_image }}" alt=""
							/></a>
							<a class="title-name" href="/2021{{ student.url }}">
								<mark>{{ student.data.project_title }} &mdash;</mark> {{ student.data.student_name
								}}
							</a>
						</div>
						{% endfor %}
					</div>
				</div>

				<div class="sociopolitical">
					<div class="student-header">
						<p class="context">&nbsp;Socio-Political Context</p>
						<p class="arrow">&#10230;</p>
					</div>
					<div class="student">
						{% for student in collections.sociopoliticalContext %}
						<div class="student-student">
							<a
								class="student-thumb"
								data-tippy-content="<img src={{ student.data.main_image }}>"
								href="/2021{{ student.url }}"
								><img id="img" src="{{ student.data.main_image }}"
							/></a>
							<a class="title-name" href="/2021{{ student.url }}">
								<mark>{{ student.data.project_title }} &mdash;</mark> {{ student.data.student_name
								}}
							</a>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</main>
		<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
		<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
		<script>
			//hamburger button
			function myFunction() {
				var x = document.getElementById('intro');
				if (x.style.display === 'block') {
					x.style.display = 'none';
				} else {
					x.style.display = 'block';
				}
			}

			if (window.netlifyIdentity) {
				window.netlifyIdentity.on('init', (user) => {
					if (!user) {
						window.netlifyIdentity.on('login', () => {
							document.location.href = '/admin/';
						});
					}
				});
			}

			//tippy-tool
			tippy('[data-tippy-content]', {
				allowHTML: true,
				followCursor: true
			});
		</script>
		<footer>
			<img class="logo" src="/2021/images/sla-logo.png" />
			<div class="contact">
				<a class="sla-link" href="https://www.sintlucasantwerpen.be/">Sint Lucas Antwerpen</a>
				<a class="sla-link" href="https://www.sintlucasantwerpen.be/">Van Schoonbekestraat 143</a>
				<a class="sla-link" href="https://www.sintlucasantwerpen.be/">2018 Antwerpen</a>
				<br />
				<a class="sla-link" href="https://www.sintlucasantwerpen.be/">www.sintlucasantwerpen.be</a>
			</div>
		</footer>
	</body>
</html>
